body {
  font-family: Arial, sans-serif;
  background-color: #1A1A1A; /* Cor de fundo */
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #2F4F7F; /* Cor principal */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 20px;
}

.quiz-options {
  margin: 10px 0;
}

.quiz-options div {
  margin-bottom: 10px;
}

.quiz-options input[type="radio"] {
  margin-right: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #8B9467; /* Cor secundária */
  color: #FFFFFF; /* Cor de texto */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #FFC080; /* Cor de destaque */
}